.header {
  background: var(--header-bgc);
  color: var(--header-color);

  &__inner {
    padding-bottom: 62px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 57px;
    align-items: baseline;
  }

  &__title {
    margin: 96px 0 77px;
    font: 500 50px/64px Inter, sans-serif;
  }

  &__logo {
    flex: 1 0 110px;
    padding-top: 24px;
  }

  &__link {
    text-decoration: none;
    color: var(--header-color-link);
    transition: padding 0.2s linear;

    &:hover,
    &:active {
      padding-bottom: 2px;
      border-bottom: 2px solid var(--header-color-link);
    }
  }

  &__navigation {
    &-list {
      margin: 0;
      list-style: none;
      
      display: flex;
      flex-wrap: wrap;
      column-gap: 24px;
    }
    &-item {
      font: 16px/24px Inter, sans-serif;

      &_current {
        color: var(--header-color-link-current);
      }
      &_current:hover {
        border-color: inherit;
      }
    }
  }

  &__theme {
  }

  &_component {
    background: var(--header-bgc-component);
  }
}
