.header {
  background: var(--header-bgc);
  color: var(--header-color);

  &__inner {
    padding-bottom: 62px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 57px;
    align-items: baseline;
  }

  &__title {
    margin: 96px 0 77px;
    @include _font(50px, 64px, $font_main, 500);
  }

  &__logo {
    flex: 1 0 110px;
    padding-top: 24px;
  }

  &__navigation {
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  &__theme {
  }

  // TODO
  &_component_TODO {
    background: var(--header-bgc-component-TODO);
  }
  // TODO
}
