.button {
    min-height: 48px;
    padding: 15px 60px 14px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: var(--button-color);
    background: none;
    text-align: center;
    font: normal 500 16px/19px 'Roboto', sans-serif;
    cursor: pointer;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button:active,
.button:focus {
    box-shadow: 1px 2px 4px hsl(220, 80%, 5%);
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.button_primary {
    background: var(--button-bgc-primary);
}

.button__primary_hover-test,
.button_primary:hover {
    background: var(--button-bgc-primary-on-hover);
}

.button_secondary {
    background: var(--button-bgc-secondary);
}

.button_secondary_hover-test,
.button_secondary:hover {
    background: var(--button-bgc-secondary-on-hover);
}

.button_alternate {
    color: var(--button-color-alternate);
    background: var(--button-bgc-alternate);
    border: 1px solid var(--button-border-alternate);
}

.button_alternate_hover-test,
.button_alternate:hover {
    border: 1px solid var(--button-border-alternate-on-hover)
}