.sidebar {
  &__content {
  }
  &__section {
    margin: 0 0 32px 0;
  }

  &__title {
    margin: 0;
    font: 20px/26px Inter, sans-serif;
    color: var(--sidebar-color);
  }

  &__navigation {
    margin: 16px 0 0 0;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    font: 14px/22px Inter, sans-serif;
    color: var(--sidebar-color-menu);

    & .menu__item_current {
      color: var(--sidebar-color-menu-current);
    }
  }
}
