.sidebar {
  width: 229px;
  
  &__content {
  }

  &__section {
    margin: 0 0 32px 0;
  }

  &__title {
    margin: 0;
    @include _font(20px, 26px, $font_main);
    color: var(--sidebar-color);
  }

  &__navigation {
    margin: 16px 0 0 0;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    @include _font(14px, 22px, $font_main);
    color: var(--sidebar-color-menu);

    & .menu__item_current {
      color: var(--sidebar-color-menu-current);
    }
  }
}
