@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Inter Thin 100 */
@font-face {
    font-family: Inter;
    font-weight: 100;
    src: url('./Inter/static/Inter-Thin.ttf');
}

/* Inter ExtraLight 200 */
@font-face {
    font-family: Inter;
    font-weight: normal;
    src: url('./Inter/static/Inter-ExtraLight.ttf');
}

/* Inter Light 300 */
@font-face {
    font-family: Inter;
    font-weight: 300;
    src: url('./Inter/static/Inter-Light.ttf');
}

/* Inter Regular 400 */
@font-face {
    font-family: Inter;
    font-weight: normal;
    src: url('./Inter/static/Inter-Regular.ttf');
}

/* Inter Medium 500 */
@font-face {
    font-family: Inter;
    font-weight: 500;
    src: url('./Inter/static/Inter-Medium.ttf');
}

/* Inter SemiBold 600 */
@font-face {
    font-family: Inter;
    font-weight: 600;
    src: url('./Inter/static/Inter-SemiBold.ttf');
}

/* Inter Bold 700 */
@font-face {
    font-family: Inter;
    font-weight: 700;
    src: url('./Inter/static/Inter-Bold.ttf');
}

/* Inter ExtraBold 800 */
@font-face {
    font-family: Inter;
    font-weight: 800;
    src: url('./Inter/static/Inter-ExtraBold.ttf');
}

/* Inter Black 900 */
@font-face {
    font-family: Inter;
    font-weight: 900;
    src: url('./Inter/static/Inter-Black.ttf');
}