.histogram {
    padding: 16px 24px 24px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    row-gap: 39px;
    background: var(--histogram-bgc);
    border: 1px solid var(--histogram-border);
    border-radius: 8px;
}

.histogram__header {
    position: relative;
    padding-right: 65px;
    font: 16px/24px Inter, sans-serif;
    color: var(--histogram-color);
}

.histogram__title {
    margin: 0;
    font-weight: normal;
    opacity: 0.8;
}

.histogram__number {
    margin: 6px 0 0;
    font-size: 20px;
    line-height: 26px;
}

.histogram__link {
    position: absolute;
    top: 3px;
    right: 0;
    text-decoration: none;
    color: var(--histogram-color-link);
}

.histogram__link:hover {
    text-decoration: underline;
    color: var(--histogram-color-link-on-hover);
}

.histogram__chart {
    margin-top: 39px;
    height: 50px;
    display: flex;
    flex-flow: row wrap-reverse;
    column-gap: 1px;
}

.histogram__column {
    flex: auto;
    background: var(--histogram-bgc-chart);
    transition: background 400ms ease-in;
}

.histogram__column:hover {
    background: var(--histogram-color-link-on-hover);
}