// Colors
:root {
  // comon
  --white: #ffffff;
  --black-1: #000000;
  --black-2: #212429;
  --pink: #f784ad;
  --purple-1: #7048e8;
  --purple-2: #5028c6;
  --blue-1: #4263eb;
  --blue-2: #2342c0;
  --red: #f03d3e;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;
  --grey-5: #f9fafc;
  --orange: #d84910;

  --error: var(--red);
  --success: var(--blue-1);

  --primary: var(--blue-1);
  --secondary: var(--purple-1);

  // header
  --header-bgc: var(--white);
  --header-bgc-component-TODO: var(--grey-5);
  --header-color: var(--black-2);

  // footer
  --footer-bgc: var(--white);
  --footer-color: var(--black-2);
  --footer-color-component: var(--grey-3);

  // preview
  --preview-bgc: var(--grey-5);

  // card
  --card-bgc: var(--white);
  --card-color: var(--black-2);

  // menu
  --menu-color: var(--grey-3);
  --menu-color-current: var(--black-2);

  // sidebar
  --sidebar-color: var(--black-1);
  --sidebar-color-menu: var(--black-2);
  --sidebar-color-menu-current: var(--orange);

  // button
  --button-color: var(--white);
  --button-color-alternate: var(--grey-4);
  --button-bgc-primary: var(--primary);
  --button-bgc-primary-on-hover: var(--blue-2);
  --button-bgc-secondary: var(--secondary);
  --button-bgc-secondary-on-hover: var(--purple-2);
  --button-bgc-alternate: var(--white);
  --button-border-alternate: var(--grey-3);
  --button-border-alternate-on-hover: var(--black-2);

  // accordion
  --accordion-bgc: var(--white);
  --accordion-border: var(--grey-3);
  --accordion-color: var(--black-1);
  --accordion-color-on-open: var(--black-2);
  --accordion-color-content: var(--grey-4);

  // skeleton
  --skeleton-bgc: var(--white);
  --skeleton-bgc-item: var(--grey-2);
  --skeleton-border: var(--grey-3);

  // histogram
  --histogram-bgc: var(--white);
  --histogram-bgc-chart: var(--blue-1);
  --histogram-border: var(--grey-3);
  --histogram-color: var(--black-2);
  --histogram-color-link: var(--blue-1);
  --histogram-color-link-on-hover: var(--blue-2);
}

// Fonts
$font_main: Inter, sans-serif;
$font_secondary: Roboto, sans-serif;
