/* sanitize */
@import './sanitize.css';

/* fonts */
@import './../fonts/fonts.css';

/* blocks */
@import './../../components/page/page.css';
@import './../../components/header/header.css';
@import './../../components/container/container.css';
@import './../../components/footer/footer.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #F9FAFC;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);

    /* header block colors */
    --header-color: var(--black);

    /* container block colors */
    --container-bgc: var(--grey-5);

    /* footer block colors */
    --footer-color: var(--black);
}

html,
body {
    height: 100%;
}