.skeleton {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    row-gap: 24px;
    /* padding: 24px; */
    padding: 24px 40px 32px 24px;
    border: 1px solid var(--skeleton-border);
    border-radius: 8px;
    background: var(--skeleton-bgc);
}

.skeleton__row {
    flex: 1;
    display: flex;
    flex-flow: row;
    align-items: center;
    column-gap: 16px;
}

.skeleton__column {
    flex: 1;
    display: flex;
    flex-flow: column;
    row-gap: 8px;
}

.skeleton__circle {
    flex: none;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: var(--skeleton-bgc-item);
}

/*  width:100% and not flex-grow:1 because we dont not know flex-direction thus flex-basis:auto can mess up width and heigh */
.skeleton__line {
    width: 100%;
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__line_size_small {
    width: 40%;
}

.skeleton__line_size_medium {
    width: 60%;
}