.footer {
  padding: 56px 0;
  text-align: center;
  background: var(--footer-bgc);
  color: var(--footer-color);

  &__title {
    margin: 15px 0 0;
    @include _font(38px, 48px, $font_main, 500);
  }

  &__text {
    margin: 32px auto 0;
    max-width: 640px;
    @include _font(16px, 24px, $font_main);
  }

  // component
  &_component {
    background: var(--footer-bgc-component);

    & .footer__title {
      margin: 0;
      @include _font(12px, 18px, false, false, false, 0.04em, uppercase);
      color: var(--footer-color-component);
    }
  }
}
