.calendar {
  width: 100%;
  max-width: 300px;
  padding: 28px 26px;
  background: var(--calendar-bgc);
  border: 1px solid var(--calendar-border);
  border-radius: 8px;

  &__title {
    @include _font(20px, 24px, $font_main, 600);
    color: var(--calendar-color);
  }

  &__wrapper {
    position: relative;
    padding-bottom: 100%;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &__day {
    @include _font(14px, 20px, $font_main, 400);
    color: var(--calendar-color-day);
  }

  &__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  &__date {
    width: 36px;
    height: 36px;
    @include _font(16px, 20px, $font_alternate, 400);
    color: var(--calendar-color);
    background-color: var(--calendar-bgc);
    border: none;

    &:hover,
    &:focus {
      outline: none;
      color: var(--calendar-color);
      background: var(--calendar-bgc-range);
    }

    &_range {
      background: var(--calendar-bgc-range);

      &_start,
      &_end {
        background: var(--calendar-bgc-range-start-end);
        color: #ffffff;
      }
    }
  }
}
