.component {
  width: 825px;
  background: var(--component-bgc);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;

//margin: -2rem -2rem 1rem -2rem;
//margin: -2rem -2rem 1rem -2rem;
//margin: -2rem -2rem 1rem -2rem;
//margin: -2rem -2rem 1rem -2rem;
//margin: -2rem -2rem 1rem -2rem;
// inspect https://css-tricks.com/snippets/css/complete-guide-grid/#aa-grid-area
// used negative margin for to override container padding

  &__title {
    margin: 0;
    padding:1 32px 0 0 48px;
    @include _font(28px, 38px, $font_main, 400);
    color: var(--component-color);
  }

  &__preview {
    padding: 58px 106px 64px 48px;
  }

  &__tabs {
    &-header {
      margin: 0 48px;
      display: flex;
      column-gap: 40px;
    }
    &-content {
      padding: 50px 106px 64px 42px;
      border-top: 1px solid var(--component-border);
    }
    &-item {
      white-space: pre;
    }
  }

  &__link {
    padding-bottom: 8px;
    text-decoration: none;
    @include _font(16px, 24px, $font_main, 400);
    color: var(--component-color-tab-link);
    transition: color 0.2s linear;

    &:active,
    &:hover {
      color: var(--component-color-tab-link-current);
    }

    &_current {
      color: var(--component-color-tab-link-current);
      border-bottom: 5px solid var(--component-color-tab-link-current);
    }
  }
}
