.menu {
  margin: 0;
  list-style: none;
  @include _font(16px, 24px, $font_main, 400);
  color: var(--menu-color);

  &__item {
    &_current {
      color: var(--menu-color-current);
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    transition: padding 0.2s linear;

    &:hover,
    &:active {
      padding-bottom: 2px;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: inherit;
    }
  }

  // component page
  &_component {
    @include _font(14px, 22px, $font_main, 400);
    color: var(--menu-color-type-vertical);

    & .menu__item_current {
      color: var(--menu-color-type-vertical-current);
    }
  }

  // &_mobile {} for burger menu, use with mod:component
}
