.menu {
  list-style: none;

  &__item {
    font: 14px/22px Inter, sans-serif;
  }

  &__link {
    color: var(--menu-color-link);
    transition: padding 0.2s linear;

    &:hover {
      padding-bottom: 2px;
      border-bottom: 2px solid var(--menu-color-link);
    }

    &_active {
      color: var(--menu-color-link-active);
    }
  }
}
