.preview {
    padding: 68px 0;
    background-color: var(--preview-bgc);
}

.preview__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.preview__card {
    flex: 0 0 350px;
}